.icon__button-con {
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__count-text {
    font-weight: 500;
    font-size: 14px;
    color: #011928;
}