.react-calendar {
    border: none !important;
    font-family: 'Geist', sans-serif !important;
    width: 343px !important;
    user-select: none !important;
}

.react-calendar__navigation {
    height: unset !important;
}

.react-calendar>button {
    margin: 4px !important;
}

.react-calendar__navigation__arrow:hover {
    background-color: transparent !important;
}

.react-calendar__navigation>button {
    min-width: unset !important;
}

.react-calendar__month-view__weekdays {
    text-transform: unset !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #8E8EA9 !important;
}

abbr[title] {
    text-decoration: unset !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:disabled,
.react-calendar__navigation button:enabled:focus {
    background-color: #fff !important;
}

.react-calendar__tile {
    padding: 8px !important;
}


.react-calendar__tile:enabled:hover:not(.react-calendar__tile--active) {
    border-radius: 20px !important;
    background-color: #FCECE7 !important;
}

.react-calendar__tile--now:not(.react-calendar__tile--active) {
    background: white !important;
}

// .react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth):not(.react-calendar__tile--active) {
//     color: black !important;
// }

.react-calendar__month-view__days__day--weekend {
    color: black !important;
}

.rdrDayToday .rdrDayNumber span:after {
    background: transparent !important;
}

.rdrDayToday .rdrDayNumber span {
    font-weight: unset !important;

}

.rdrDayDisabled {
    background-color: unset !important
}

.react-calendar__tile:disabled {
    background-color: unset !important;
    cursor: not-allowed !important;
    color: unset !important;
}

.react-calendar__tile--active {
    color: unset !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: unset !important;
}

.react-calendar__month-view__days__day--neighboringMonth:has(.react-calendar__tile--active) {
    color: white !important;
}

.react-calendar__tile--active {
    border-radius: 20px !important;
    background: var(--active-color) !important;
    color: white !important;
}