.create__password-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    padding: 20px;

    .header__text {
        font-weight: 500;
        font-size: 28px;
        color: #232529;
    }

    .create__password-main-con {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
        flex-direction: column;
        width: 376px;
        margin: auto;
    }

    .rules__main-con {
        &.checked {
            color: var(--active-color);
        }

        .rule__text {
            font-weight: 400;
            font-size: 14px;
            color: #717171;

            &.checked {
                color: var(--active-color);
            }
        }
    }
}