.privacy__policy--main-con {
    position: relative;

    .header__container {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 12px 20px;
        background-color: #fff;


        .header__text {
            font-weight: 500;
            font-size: 14px;
            color: #232529;
        }
    }

    .terms__main-container {
        border: 1px solid var(--border-color);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 14px 20px;
        overflow-x: hidden;
        height: auto;
        max-height: calc(80vh - 84px);
        font-weight: 400;
        font-size: 12px;
        line-height: 14.88px;
        color: #232529;
    }

}