.parent__class_athish {
  display: flex;

  .projects_header_class {
    font-size: 14px;
    font-weight: bold;
    color: red;
  }
}
.projects-label {
  color: black !important;
  font-weight: 600;
  font-size: 16px;
}
.w-search-input {
  .nu-position-relative {
    .dropdown_dropdown__main-con__x3nrw {
      width: 420px;
    }
  }
}
.w-input {
  display: flex;
  gap: 10px;
  width: 100% !important;
  .input_input__main-con__DvqVI {
    width: 1000px !important;
  }
  .input_input__sub-con__Q_0mh {
    width: 1000px !important;
  }
  .input_input__main-con__DvqVI .input_input__sub-con__Q_0mh {
    width: 1000px !important;
  }
}
