.manage__location-edit-main-con {

    --height: calc(100dvh - 145px);

    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;

    .location__name-text {
        font-weight: 400;
        font-size: 14px;
        color: var(--text-black-color);
    }

    .header__container {
        display: flex;
        align-items: center;
    }

    .locations__children-main-container {
        display: flex;
        gap: 60px;
        padding: 28px 60px;

        .sidebar__route-con {
            width: 208px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: var(--height);
            overflow: scroll;

            .link__con {
                padding: 8px 12px;
                border-radius: 8px;
                background-color: white;
                font-weight: 400;
                font-size: 14px;
                cursor: pointer;
                color: var(--text-black-color);
                transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

                &.selected {
                    background-color: #FCECE7;
                    color: var(--active-color);
                }

                &:hover:not(.selected) {
                    background-color: rgba(252, 236, 231, 0.7);
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .children__main-con {
            flex: 1;
            height: var(--height);
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}