.past__session-main-con {

    .filters__con {
        padding: 10px 12px;
        border-bottom: 1px solid var(--border-color);
        background-color: #F8F8FA;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .filter__text {
            font-weight: 400;
            font-size: 14px;
            color: #717171;
        }
    }

    .users__main-con {
        padding: 18px 12px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: space-between;

        .sub_con {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .users__main-con:last-child {
        border-bottom: none;
    }
}

.reporting__status-con {
    width: 140px;
}


.score__con,
.submission__date-con {
    width: 110px;
}

.error__text {
    font-weight: 400;
    font-size: 14px;
    color: #FF3B30;
}

.info__text {
    font-weight: 400;
    font-size: 12px;
    color: #8E8EA9;
}

.title__text {
    font-weight: 400;
    font-size: 14px;
    color: #09090B;
}

.view__test-button {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    background-color: #fff;

    .text {
        font-weight: 400;
        font-size: 14px;
        color: #8E8EA9;
    }
}

.action__button {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    background-color: #FFFCF9;

    .text {
        font-weight: 400;
        font-size: 14px;
        color: #D26300;
    }
}