.member__main-container {

    .add__member-container {
        padding: 12px 30px;
        border-bottom: 1px solid var(--divider-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;

        .header__text {
            font-weight: 400;
            font-size: 12px;
            color: var(--text-black-color);
        }
    }

    .member__info-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 12px 30px;
    }
}