.sections__main-info {
    .sections__header {
        font-weight: 400;
        font-size: 12px;
        color: var(--text-black-color);
        padding: 12px 30px;
        border-bottom: 1px solid var(--divider-color);
    }

    .sections__parent-container {
        display: flex;
        flex-direction: column;
        padding: 14px 30px;
        gap: 12px;

        .section__container {
            padding: 10px;
            display: flex;
            align-items: center;
            border: 1px solid var(--divider-color);
            border-radius: 8px;

            .section__name {
                font-weight: 400;
                font-size: 14px;
                flex: 1;
                color: var(--text-primary-color);
                transition: color 200ms ease-in-out;

                &.selected {
                    color: var(--text-black-color);
                }
            }

            .divider {
                width: 1px;
                height: 10px;
                background-color: var(--divider-color);
                margin: 0 12px;
            }
        }
    }
}