.confirmation__modal-main-con {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 24px;

    .confirmation__modal-header {
        font-weight: 500;
        font-size: 24px;
        color: var(--text-black-color);
    }

    .confirmation__modal-desc {
        font-weight: 400;
        font-size: 14px;
        color: var(--text-black-color);
    }
}