.forgot__password-main-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 20px;
    width: 376px;
    margin: auto;
    gap: 14px;

    .header__text {
        font-weight: 500;
        font-size: 28px;
        color: #232529;
    }

    .description__text {
        font-weight: 400;
        font-size: 14px;
        color: #717171;
        text-align: center !important;
    }

    .back__to-login-text {
        font-weight: 400;
        font-size: 14px;
        color: #9FA1A7;
    }
}